.login{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    height: 417px;
    margin: auto;
    border: 2px solid #eaeaea;
    border-radius: 20px;
    padding: 2%;
}
.for-email{
    width: 100%;
}
.New{
    color: #908787;
}
.New Link{
    text-decoration: none;
    color: #3861fb;
}
.btn{
    width: 100%;
    background-color: #3861fb;
}
.FP{
    position: relative;
    float: right;
    border: none;
    background-color: white;
    font-size: smaller;
    color: #908787;
}

#show-eye{
    position: relative;
    /* bottom: 38px; */
    float : right;
    /* border-top-left: none; */
    border: 2px solid #d5dadf;
    width: 10%;
    height: 39px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
    position: relative;
    bottom:48px;

}
/* #Password{
    border-top-right-radius: none;
    width: 95%;
} */


@media only screen and (max-device-width: 480px) {
    .login{
        width: 90%;
        height: 385px;
        padding-left: 15px;
        margin-top: 151px;
    }
    .LoginTitle{
        margin-top: 10px;
        /* margin-left: 10px; */
    }
    
}